import superorganism.database
import superorganism.app
import superorganism.gui.app
import superorganism.gui.interfaces
import urwid.curses_display
import zope.component
import zope.interface

ZCONFIG = """$buildout['superorganism']['database']"""


if __name__ == '__main__':
    tui = urwid.curses_display.Screen()
    zope.interface.directlyProvides(tui,
                                    superorganism.gui.interfaces.IScreen)
    database = superorganism.database.Database(ZCONFIG)
    zope.component.provideUtility(database, superorganism.interfaces.IDatabase)
    app = superorganism.app.Application($buildout['config'])
    view = zope.component.getMultiAdapter((app, tui), name='dashboard')
    view.register_colors()
    tui.run_wrapper(view.run) #XXX keydispatcher?

