import superorganism.database
import superorganism.gui.app
import superorganism.gui.interfaces
import urwid.curses_display
import zope.component


if __name__ == '__main__':
    tui = urwid.curses_display.Screen()
    database = superorganism.database.Database($buildout['config'])
    zope.component.provideUtility(database, superorganism.interfaces.IDatabase)
    app = superorganism.gui.app.Application(tui, $buildout['config'])
    zope.component.provideUtility(app,
                                  superorganism.gui.interfaces.IApplication)
    tui.run_wrapper(app.run)

