[colors]
# name = foreground, background, monochrome
statusbar = white, dark red,
helpbar = white, dark red,
background = white, dark blue,
list = black, dark green,
input = white, black,
focus = black, dark cyan, standout
button = black, dark red,

[app]
projects = superorganism

[superorganism]
id = superorganism
title = Internal Project
description = Meta bugtracking project
